

<form #orderForm="ngForm">
  <!-- <div class="form-group">
      <label for="Id">ID:</label>
      <input type="text" id="Id" name="ID" [(ngModel)]="formData.ID" required>
    </div> -->

  

  <div class="form-group">
    <label for="userID">UserID:</label>
    <input
      type="text"
      id="userID"
      name="userID"
      [(ngModel)]="formData.userID"
      required
      nz-input placeholder="Enter userID"
    />
  </div>

  <div class="form-group">
    <label for="orderDate">OrderDate:</label>
    <input
      type="text"
      id="orderDate"
      name="orderDate"
      [(ngModel)]="formData.orderDate"
      required
      nz-input placeholder="Enter orderDate"
    />
  </div>

  <div class="form-group">
    <label for="totalAmount">TotalAmount:</label>
    <input
      type="text"
      id="totalAmount"
      name="totalAmount"
      [(ngModel)]="formData.totalAmount"
      required
      nz-input placeholder="Enter totalAmount"
    />
  </div>

  <div class="form-group">
    <label for="orderStatus">OrderStatus:</label>
    <input
      type="orderStatus"
      id="orderStatus"
      name="orderStatus"
      [(ngModel)]="formData.orderStatus"
      required
      nz-input placeholder="Enter orderStatus"
    />
  </div>

  <div class="mt-3 border-border-dark p-3 text-center">
    <button nz-button nzType="primary" (click)="submitOrder(orderForm.form.valid)"
  [disabled]="!orderForm.form.valid" [nzLoading]="isLoading">
    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
    Add Order
  </button>

  <button class="ms-2" nz-button nzType="default" (click)="handleCancel()">Cancel</button>

  </div>
</form>
