.form-group{
    margin-bottom:20px
  }
  label {
    display: inline-block;
    width: 100px; 
  }
  // input.ng-valid{
  //   background-color:#79ba6a;
  // }
  input.ng-invalid{
    border: 1px solid #f58c84;
  }