<form #userForm="ngForm">
  <!-- <div class="form-group">
      <label for="id">id:</label>
      <input type="text" id="Id" name="id" [(ngModel)]="formData.id" required>
    </div> -->

  <div class="form-group">
    <label for="name">Name:</label>
    <!-- <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="formData.name"
      required
      nz-input placeholder="Enter Name"
    /> -->
    <input type="text" name="formData.name" [(ngModel)]="formData.name" #nameInput="ngModel" required minlength="3" maxlength="50">
<div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="alert alert-danger">
  <div *ngIf="nameInput.errors?.required">Name is required.</div>
  <div *ngIf="nameInput.errors?.minlength">Name must be at least 3 characters long.</div>
  <div *ngIf="nameInput.errors?.maxlength">Name cannot be more than 50 characters long.</div>
</div>
    
  </div>

  <div class="form-group">
    <label for="mobile">Mobile:</label>
    <!-- <input
      type="text"
      id="mobile"
      name="mobile"
      [(ngModel)]="formData.mobile"
      pattern="[0-9]{10}"
      required
      nz-input placeholder="Enter Mobile"
    />
    <div *ngIf="!formData.mobile">Mobile number is required</div>
    <div
      *ngIf="(formData.mobile?.length !== 10)">
      Please enter a valid 10-digit mobile number.
    </div> -->
    <input type="mobile" name="mobile" [(ngModel)]="formData.mobile" required mobile #mobile="ngModel" nz-input placeholder="Enter MobileNumber">
    <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
      <div *ngIf="mobile.errors['required']">MobileNumber is required.</div>
      <div *ngIf="mobile.errors['mobile'] && !mobile.errors['required']">Invalid Mobile format.</div>
    </div>

  </div>

  <div class="form-group">
    <label for="city">City:</label>
    <input
      type="text"
      id="city"
      name="city"
      [(ngModel)]="formData.city"
      required
      nz-input placeholder="Enter City"
    />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <!-- <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="formData.email"
      required
      nz-input placeholder="Enter Email"
    /> -->
    <!-- <input type="email" name="email" [(ngModel)]="formData.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" nz-input placeholder="Enter Email">
  <div *ngIf="!formData.email">Email is required.</div>
  <div *ngIf="formData.email && userForm.submitted && userForm.controls['email'].errors">Please enter a valid email address.</div> -->
  <input type="email" name="email" [(ngModel)]="formData.email" required email #email="ngModel" nz-input placeholder="Enter Email">
    <div *ngIf="email.errors && (email.dirty || email.touched)">
      <div *ngIf="email.errors['required']">Email is required.</div>
      <div *ngIf="email.errors['email'] && !email.errors['required']">Invalid email format.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="status">Status:</label>
    <input
      type="text"
      id="status"
      name="status"
      [(ngModel)]="formData.status"
      required
      nz-input placeholder="Enter Status"
    />
  </div>

  <div class="mt-3 border-border-dark p-3 text-center">
    <button nz-button nzType="primary" (click)="submitUser(userForm.form.valid)"
  [disabled]="!userForm.form.valid" [nzLoading]="isLoading">
    <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
    Add User
  </button>

  <button class="ms-2" nz-button nzType="default" (click)="handleCancel()">Cancel</button>

  </div>
  
  
</form>
