<<<<<<< HEAD
// #main-container {
//     margin:0 auto;
// }
#main-container{
    //text-align: center;
    background-color: azure;
    margin:0 auto;
    max-width:1000px;
    
}



=======
#main-container {
    margin:0 auto;
    max-width:1000px;    
}
>>>>>>> 1e64a4047df960fea52099eed9ef1f51597bdaa0
