<nz-table #basicTable [nzData]="users" [nzPageSize]="5" *ngIf="users.length">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">MOBILE</th>
        <th scope="col">CITY</th>
        <th scope="col">EMAIL</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ="let user of basicTable.data">
        <th scope="row">{{user.ID}}</th>
        <td>{{user.NAME}}</td>
        <td>{{user.MOBILE}}</td>
        <td>{{user.CITY}}</td>
        <td>{{user.EMAIL}}</td>
        <td>{{user.STATUS}}</td>
      </tr>
    </tbody>
  </nz-table>

  