<table class="table table-secondary table-bordered table-striped mt1 mb1">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">MOBILE</th>
        <th scope="col">CITY</th>
        <th scope="col">EMAIL</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Tom</td>
        <td>12345</td>
        <td>Eldorado</td>
        <td>tom123&#64;gmail.com</td>
        <td>Single</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Dick</td>
        <td>12346</td>
        <td>Preston</td>
        <td>dick123&#64;gmail.com</td>
        <td>Single</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>harry</td>
        <td>12356</td>
        <td>Allen</td>
        <td>harry123&#64;gmail.com</td>
        <td>Single</td>
      </tr>
    </tbody>
  </table>

  