
<nz-table #basicTable [nzData] ="orders" *ngIf="orders.length" ngSkipHydration>
 <thead>
    <tr>
     <th scope="col">orderID</th>
     <th scope="col">userID</th> 
     <th scope="col">orderDate</th> 
     <th scope="col">totalAmount</th> 
     <th scope="col">orderStatus</th>
     <th scope="col">Delete</th>    
    </tr>
 </thead> 
 <tbody>
    <tr *ngFor = "let order of basicTable.data">
     <th scope="row">{{order.orderID}}</th>
     <td>{{order.userID}}</td>
     <td>{{order.orderDate}}</td>
     <td>{{order.totalAmount}}</td>
     <td>{{order.orderStatus}}</td>
     <td><button type ="button" (click)="deleteByID(order.orderID)">Delete</button> </td>
    </tr>
 </tbody>  

</nz-table>

<button type="submit" routerLink ="/addOrder">addorder</button>
