

<form #productForm="ngForm">
    <!-- <div class="form-group">
        <label for="Id">ID:</label>
        <input type="text" id="Id" name="ID" [(ngModel)]="formData.ID" required>
      </div> -->
  
                  
  
    <div class="form-group">
      <label for="productName">ProductName:</label>
      <input
        type="text"
        id="productName"
        name="productName"
        [(ngModel)]="formData.productName"
        required
        nz-input placeholder="Enter productName"
      />
    </div>
  
    <div class="form-group">
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="formData.description"
        required
        nz-input placeholder="Enter description"
      />
    </div>
  
    <div class="form-group">
      <label for="price">Price:</label>
      <input
        type="text"
        id="price"
        name="price"
        [(ngModel)]="formData.price"
        required
        nz-input placeholder="Enter Price"
      />
    </div>
  
    <div class="form-group">
      <label for="stock_quantity">Stock_Quantity:</label>
      <input
        type="stock_quantity"
        id="stock_quantity"
        name="stock_quantity"
        [(ngModel)]="formData.stock_quantity"
        required
        nz-input placeholder="Enter stock_quantity"
      />
    </div>
  
    <div class="mt-3 border-border-dark p-3 text-center">
      <button nz-button nzType="primary" (click)="submitProduct(productForm.form.valid)"
    [disabled]="!productForm.form.valid" [nzLoading]="isLoading">
      <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
      Add Product
    </button>
  
    <button class="ms-2" nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  
    </div>
  </form>
  
